<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <ol>
        {{#each projects}}
        <li>
            <a href="/project/{{this._id}}">
            {{this.name}} &nbsp;
            </a>
        </li>
        {{/each}}
    </ol>
    <br><br>
        <form action="/project" method="post">
            <input type="text" name="name" placeholder="Project Name">
            <input type="submit" value="Add Project">
        </form>
</body>
</html>